<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand logo" href="#">
  <i class="swg swg-starwars swg-6x"></i>
</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a id="Films" class="nav-item nav-link" href="/home">Films</a>
      <a id="People" class="nav-item nav-link" href="/home">Characters</a>

      <a id="Starships" class="nav-item nav-link none" href="javascript:void(0);">Starships</a>
      <a id="Vehicles" class="nav-item nav-link none" href="javascript:void(0);">Vehicles</a>
      <a id="Species" class="nav-item nav-link none" href="javascript:void(0);">Species</a>
      <a id="Planets" class="nav-item nav-link none" href="javascript:void(0);">Planets</a>
    </div>
  </div>
</nav>
